.logo {
  height: 60px;
  text-align: center;
  padding: 14;
  color: #fff;
  font-size: 20;
}
.header-layout {
  padding: 0;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.currentPage-name {
  padding: 20px;
  font-weight: 700;
  font-size: 15;
}

.content-layout {
  margin: 0 16px;
  padding: 24;
  min-height: 100vh;
}
