.analyze-wrapper {
  padding: 24px;
  .graph {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    border-radius: 6px;
    flex: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    gap: 24px;
    // .left .right {
    //   width: 100%;
    // }
    .right,
    .left {
      width: 50%;
      .title {
        text-align: center;
        font-weight: 700;
        font-size: 25px;
      }
      .chart {
        margin: auto;
        width: 60%;
        height: 500px;
      }
    }
    // .right {
    // }
  }
  .detail-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #fff;
    border-radius: 6px;
    flex: auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    h1 {
      font-weight: 700;
      font-size: 25px;
    }

    table {
      width: full;
      overflow: auto;
      td {
        font-weight: 500;
        font-size: 20px;
        padding-right: 100px;
      }
      .right {
        font-weight: 600;
      }
    }
  }
}
